<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tm.book_of_exercises">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--内存溢出  android:hardwareAccelerated="false"
        android:largeHeap="true"-->
    <application
        android:name=".chat.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartAppActivity"
            android:launchMode="singleTask"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GuideActivity" />
        <activity android:name=".main.UserRegister" />
        <activity android:name=".main.UserLogin" />
        <activity android:name=".main.otherPage.UserInfo" />
        <activity android:name=".main.otherPage.SearchActivity" />
        <activity android:name=".main.otherPage.TasksActivity" />


        <!--会话列表-->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tm.book_of_exercises"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!--会话界面-->
        <activity
            android:name=".chat.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.tm.book_of_exercises"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="cpj2xarlc73qn" />

        <!-- 此部分代码需要移植到您的 app 下的 manifest，并且 authorities 指定您的包名。例如：com.android.FileProvider -->
        <!-- 否则使用拍照功能时，会崩溃 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities=" com.tm.book_of_exercises.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <!--<service-->
        <!--android:name="io.rong.imlib.ipc.RongService"-->
        <!--android:exported="true"-->
        <!--android:process=":ipc" />-->

        <!--<service-->
        <!--android:name="io.rong.imlib.ReConnectService"-->
        <!--android:exported="true" />-->

        <!--<receiver-->
        <!--android:name="io.rong.imlib.ConnectChangeReceiver"-->
        <!--android:exported="true" />-->

        <!--<receiver-->
        <!--android:name="io.rong.imlib.HeartbeatReceiver"-->
        <!--android:process=":ipc" />-->
        <!-- imlib config end -->
    </application>

</manifest>